[submodule "1-window/vendor"]
	path = textures-lab/vendor
	url = /home/alexander/EduProjects/Cpp/OpenGl/myexamples/1-window/vendor
[submodule "git@github.com:AlexanderShataev/opengl-utils.git"]
	url = textures-lab/vendor/
